/* ===== MENÚ DE NAVEGACIÓN ===== */
.nav {
    width: 100%;
    background: var(--rojo-ut);
    padding: 10px 0;
    border-radius: 0px;
    margin-bottom: 20px;
}

.nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 30px;
}

.nav ul li a {
    color: var(--blanco);
    text-decoration: none;
    font-weight: bold;
    padding: 10px 16px;
    border-radius: 8px;
    transition: 
        background 0.3s ease, 
        transform 0.2s ease,
        box-shadow 0.2s ease;
}

.nav ul li a:hover {
    background: var(--rojo-ut-oscuro);
    transform: translateY(-2px);
    box-shadow: 0px 4px 10px rgb(255, 255, 255);
}

/* ===== MODO OSCURO ===== */
body.oscuro .nav {
    background: #222;
}

body.oscuro .nav ul li a:hover {
    background: #eeecec;
}

/* Estilo base del menú */
.nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
    padding: 0;
}

.nav a {
    text-decoration: none;
    color: #fffefe;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 6px 4px;
    position: relative;
    display: inline-block;
    transition: all 0.3s ease;
}

/* Línea animada debajo */
.nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 2px;
    background-color: #f8f8f8; /* Rojo institucional UT */
    transition: width 0.3s ease;
}

/* Hover: color + movimiento + línea */
.nav a:hover {
    color: #ffffff;
    transform: translateY(-2px);
}

.nav a:hover::after {
    width: 100%;
}

